.now/*
*.css
.changeset
dist
esm/*
public/*
tests/*
scripts/*
counter/*
app/todos/*
app/components/api/route.ts
app/components/api/[id]/route.ts
app/components/api/todos/route.ts
app/components/api/todos/[slug]/route.ts
app/components/todos/*
app/components/todos-table.tsx
app/components/data/firestore.ts
*.tsx
*.config.js
.DS_Store
node_modules
coverage
.next
build
!.commitlintrc.cjs
!.lintstagedrc.cjs
!jest.config.js
!plopfile.js
!react-shim.js
!tsup.config.ts
